{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class="container">
    <div class="section-headline cliente text-center">
        <h2 style="text-center"> CLIENTES REGISTRADOS:</h2>
    </div>
    {% if user.is_staff %}
        <a class="btn btn-primary text-center" href="{% url 'cliente_create' %}">Agregar Cliente</a>
        <br>
        <br>
    {% endif %}
    
    {% if user.is_authenticated %}
        {% if cliente_list %}
            <ul>
                {% for cliente in cliente_list %}
                    <li>
                        <a href="{{ cliente.get_absolute_url }}"> {{cliente.rut}} </a> ({{cliente.nombres}} {{cliente.apellidos}})
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
</div>
{% endblock%}