{% extends 'base_generic.html' %}

{% block content %}
{% load static %}

    {% if user.is_authenticated %}{% if user.is_staff %}
        <div class="section-headline">
            <h2> Borrar Cliente </h2>
        </div>
        <h3>¿Estás seguro que deseas borrar este cliente?</h3>
        <h4>Rut: {{cliente.rut}}</h4>
        <h4>Nombre: {{cliente.nombres}} {{cliente.apellidos}}</h4>
        {% csrf_token %}
        <div style="width: 50%;">
            <a href="{% url 'cliente-detail' cliente.pk %}"class="btn btn-primary btn-xl" style="float: left;">Atras</a>
            <button type="submit" class="save btn btn-primary btn-xl" style="float: right;">Borrar</button>
        </div>
    {% endif %}{% endif %}

{% endblock %} 